USE [master]
GO
/****** Object:  Database [QuanLyNhanSu]    Script Date: 06/27/2021 00:32:00 ******/
CREATE DATABASE [QuanLyNhanSu] ON  PRIMARY 
( NAME = N'QuanLyNhanSu', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QuanLyNhanSu.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyNhanSu_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QuanLyNhanSu_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhanSu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhanSu]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 06/27/2021 00:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[QueQuan] [nvarchar](200) NULL,
	[Luong] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACC]    Script Date: 06/27/2021 00:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACC](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DISPLAYNAME] [nvarchar](100) NULL,
	[USERNAME] [nvarchar](100) NOT NULL,
	[PASS] [nvarchar](1000) NULL,
	[TYPE] [int] NULL,
 CONSTRAINT [PK_ACC] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[USERNAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateAccount]    Script Date: 06/27/2021 00:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_UpdateAccount]
	@userName NVARCHAR(100),@displayName nvarchar(100), @password nvarchar(100), @newPassword nvarchar(100)
AS
BEGIN
	declare @isRightPass int=0
	select @isRightPass=COUNT(*) from ACC where USERNAME=@userName and PASS=@password
	if(@isRightPass=1)
	begin
		if(@newPassword=NULL or @newPassword='')
		begin
			update ACC set DISPLAYNAME=@displayName where USERNAME=@userName
		end
		else
			update ACC set DISPLAYNAME=@displayName, PASS=@newPassword where USERNAME=@userName
	end
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_EMPLOYEE]    Script Date: 06/27/2021 00:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_UPDATE_EMPLOYEE]
( @ID INT, @HOTEN NVARCHAR(100), @NGAYSINH DATE, @QUEQUAN NVARCHAR(200), @LUONG INT)
AS
BEGIN 
	UPDATE Employee
	SET HoTen = @HOTEN, NgaySinh = @NGAYSINH, QueQuan = @QUEQUAN, Luong = @LUONG
	WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_EMPLOYEE]    Script Date: 06/27/2021 00:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_INSERT_EMPLOYEE]
( @ID INT, @HOTEN NVARCHAR(100), @NGAYSINH DATE, @QUEQUAN NVARCHAR(200), @LUONG INT)
AS
BEGIN
	INSERT Employee(id,HoTen,NgaySinh,QueQuan,Luong)
	VALUES (@ID,@HOTEN,@NGAYSINH,@QUEQUAN,@LUONG)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_ACCOUNT]    Script Date: 06/27/2021 00:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_INSERT_ACCOUNT]
(  @DisplayName NVARCHAR(100), @UserName NVARCHAR(100), @Pass NVARCHAR(1000), @Type INT)
AS
BEGIN
	INSERT ACC(DISPLAYNAME,USERNAME,PASS,TYPE)
	VALUES (@DisplayName,@UserName,@Pass,@Type)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_EMPLOYEE]    Script Date: 06/27/2021 00:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_DELETE_EMPLOYEE]
( @ID INT)
AS
BEGIN
	DELETE FROM Employee
	WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_ACCOUNT]    Script Date: 06/27/2021 00:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_DELETE_ACCOUNT]
( @UserName nvarchar(100))
AS
BEGIN
	DELETE FROM ACC
	WHERE USERNAME = @UserName
END
GO
