USE [master]
GO
/****** Object:  Database [QuanLyNhanSu]    Script Date: 03/20/2021 00:13:29 ******/
CREATE DATABASE [QuanLyNhanSu] ON  PRIMARY 
( NAME = N'QuanLyNhanSu', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QuanLyNhanSu.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyNhanSu_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QuanLyNhanSu_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhanSu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhanSu]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 03/20/2021 00:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [datetime] NULL,
	[QueQuan] [nvarchar](200) NULL,
	[Luong] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACC]    Script Date: 03/20/2021 00:13:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACC](
	[id] [int] NOT NULL,
	[DISPLAYNAME] [nvarchar](100) NULL,
	[USERNAME] [nvarchar](100) NOT NULL,
	[PASS] [nvarchar](1000) NULL,
	[TYPE] [int] NULL,
 CONSTRAINT [PK_ACC] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_ACC_Employee]    Script Date: 03/20/2021 00:13:31 ******/
ALTER TABLE [dbo].[ACC]  WITH CHECK ADD  CONSTRAINT [FK_ACC_Employee] FOREIGN KEY([id])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[ACC] CHECK CONSTRAINT [FK_ACC_Employee]
GO
